# Ignore specific files
todo.txt
test/test.cpp
test/test
test/Makefile

compile_commands.json
# Ignore all .o object files (anywhere)
*.o

# Ignore entire directories (bin/ and build/)
bin/
build/

# Optional: Ignore the compiled binary (if not in bin/)
bin/physicsGame
